.layer-conversation-view-width-large {
  layer-dialog {
    padding: 22px 22px;
    .layer-dialog-inner {
      max-width: 535px;
      max-height: 535px;
      box-shadow: 2px 2px 8px black;
      border-radius: @dialog-radius;
    }
  }
}

.layer-conversation-view-width-medium {
  layer-dialog {
    padding: 22px 22px;
    .layer-dialog-inner {
      max-width: 535px;
      max-height: 535px;
      box-shadow: 2px 2px 8px black;
      border-radius: @dialog-radius;
    }
  }
}

.layer-conversation-view-width-small {
  layer-dialog {
    padding: 2px 2px;
  }
}

layer-dialog {
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);

  .layer-dialog-inner {
    background-color: @dialog-background-color;
    height: 100%;
    width: 100%;
    overflow: hidden;

    & > .layer-dialog-content-container {
      overflow: hidden; // prevent images from spilling out of bounds
    }

    layer-title-bar {
      line-height: 64px;
      height: 64px;
      padding: 0px 24px;
    }

    .layer-dialog-content {
      border-radius: 0px;
    }
  }

  .layer-dialog-content-container > .layer-replaceable-inner > layer-message-viewer > layer-title-bar {
    display: none;
  }
}
