layer-video-message-view {
  background-color: @color-black;
  background-size: cover;
  background-position: 50% 50%;

  .layer-play-button {
    .layer-play-button-fancy-resource;
  }
  .layer-not-playable-button {
    color: blue;
    .layer-not-playable-button-resource;
  }
}

layer-video-message-large-view {
  background-color: rgb(242,242,242);
  display: flex;
  flex-direction: column;

  .layer-video-inner {
    margin: 12px 32px;
    text-align: center;

    & > *:not(:empty) {
      margin-bottom: 4px;
    }

    & > *:last-child {
      margin-bottom: 0px;
    }

    .layer-standard-card-container-title {
      color: @message-type-container-title-color;
      font-size: @font-larger;
    }

    .layer-standard-card-container-description {
      color: @message-type-container-description-color;
      font-size: @font-large;
    }

    .layer-standard-card-container-footer {
      color: @message-type-container-footer-color;
      font-size: @font-medium;
    }
  }

  video {
    align-self: center;
  }
}
